* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.appWrapper {
  font-size: 1.8rem;
  display: grid;
  height: 100vh;
  width: 95%;
  margin: 15px auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;

  grid-template-rows: 150px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
    'header header'
    'navbar mainContent';
}

.header {
  grid-area: header;
  border-radius: 15px 15px 0 0;
  background-image: linear-gradient(120deg, #2af598 0%, #009efd 100%);
}

.navbar {
  grid-area: navbar;
  background-image: linear-gradient(240deg, #2af598 0%, #009efd 100%);
  border-bottom-left-radius: 15px;
}

.mainContent {
  grid-area: mainContent;
  background-image: linear-gradient(120deg, #2af598 0%, #009efd 100%);
  border-bottom-right-radius: 15px;
}
